<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETAILS</title>
</head>
<body>
    <ul>
        <li>name = {{ medicine.name }}</li>
        <li>mean_demand = {{ medicine.mean_demand }}</li>
        <li>sd_of_demand = {{ medicine.sd_of_demand }}</li>
        <li>price = {{ medicine.price }}</li>
        <li>holding_cost = {{ medicine.holding_cost }}</li>
        <li>ordering_cost = {{ medicine.ordering_cost }}</li>
        <li>{{ medicine.get_total_lead_time }}</li>
    </ul>
</body>
</html>