<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETAILS</title>
</head>
<body>
    <ul>
        <li>name = {{ medicine.name }}</li>
        <li>mean_demand = {{ medicine.mean_demand }}</li>

        <li>sd_of_demand = {{ medicine.sd_of_demand }}</li>
        <li>holding_cost = {{ medicine.holding_cost }}</li>
        <li>price = {{ medicine.price }}</li>
        <li>ordering_cost = {{ medicine.ordering_cost }}</li>
        <li>annual demand = {{ medicine.get_annual_demand }}</li>
        <li>Centre = {{ medicine. }}</li>
        <li>Supplier = {{ medicine. }}</li>
        <li>Total LT = {{ medicine.get_total_lead_time }}</li>
        <li>Total sd = {{ medicine.get_total_sd }}</li>
        <li>ROP = {{ medicine.get_rop }}</li>
        <li>OrderFreq = {{ medicine.get_OrderFreq }}</li>
        <li>EOQ = {{ medicine.get_EOQ }}</li>
        <li>act_order_freq = {{ medicine.get_act_order_freq }}</li>
        <li>Overstock = {{ medicine.get_overstock }}</li>
    </ul>
</body>
</html>